<h3>All posts</h3>

<ul>
  <% posts.each( function (post) { %>
    <li>
      <a class="post-link" href="#/posts/<%=post.id%>">
        <%= post.escape("title") %>
      </a>
      <button class="delete-post" data-id="<%= post.id %>">
        Delete
      </button>
      </li>
  <% }); %>
</ul>

<a href="#/posts/new">New Post</a>