<h3><%= post.isNew() ? "New Post" : post.get("title") %></h3>

<form class="post-form">
  <label>
    Title
    <input type="text" name="post[title]" value="<%= post.get('title') %>">
  </label>

  <br>

  <label>
    Body
    <textarea name="post[body]"><%= post.get("body") %></textarea>
  </label>

  <br>

  <button class="post-form-submit">Go!</button>
</form>

<a href="#/posts/<%= post.id %>">Back to Post</a>
<br>
<a href="#">Back to index</a>