/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #FFFAAA;
  height: 100%;
  font-family: sans-serif;
  margin-left: 5px;
}

.content {
  float: left;
  margin-left: 300px;
  width: 55%;
}

.sidebar {
  position: fixed;
  top: 100;
  border: 5px solid black;
  border-radius: 2px;
  width: 280px;
  float: left;
}